<div class="breadcrumbs-block">
<a href="{{article.home_url}}">Home</a> 
<span class="icon">&#9656;</span>
<a href="{{article.type_url}}">{{article.type}}</a>
<span class="icon">&#9656;</span>
<span class="title">{{article.title}}</span>
</div>