.solutions-card {
  font-family: $font-primary-regular;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $purple;

  @include breakpoint($medium) {
    max-width: 375px;
    padding-bottom: 80px;
    position: relative;
    margin: 0 20px;
  }

  .image {
    height: 98px;
    width: 100%;
    background-position: center;
    object-fit: cover;

    @include breakpoint($medium) {
      height: 202px;
    }
  }

  &__content {
    padding: 20px;

    @include breakpoint($medium) {
      padding: 22px 40px 0 44px;
      margin-bottom: 28px;
    }
  }

  &__heading {
    @include heading-small($font-size: 1.25rem, $color: $white);

    font-family: $font-primary-semi-bold;
    @include breakpoint($medium) {
      @include heading-medium($color: $white);

      font-size: 32px;
      line-height: 1.4;
    }
  }

  &__body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: $white;

    @include breakpoint($medium) {
      font-size: 18px;
    }
  }

  &__button {
    @include button-base;
    @include button-medium;

    color: #474747;
    background-color: $white;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 700;
    border: 2px solid $white;

    @include breakpoint($medium) {
      display: inline-block;
      position: absolute;
      left: 40px;
      bottom: 40px;
    }

    &:hover {
      background: transparent;
      color: $white;
    }
  }

  &--Green {
    background-color: $green;
  }

  &--Purple {
    background-color: $purple-dark;
  }

  &--Orange {
    background-color: $orange;
  }

  &--Red {
    background-color: $red;
  }
}
