<form class="c-search-form" role="search" method="GET" action="/">
  <label for="search" class="show-for-sr">Search Site</label>
  <input type="text" class="columns small-14" id="search{% if context == "utility" %}mobile{% endif %}" name="s" placeholder="Search">
  <button class="button c-site-search__btn columns small-2" type="submit">
  <svg class="icon icon-icon-search"><use xlink:href="#icon-icon-search"></use></svg>
  </button>
</form>
