.has-black-color{
  color: #000000;
}
.has-yellow-color{
  color: #ffd000;
}
.has-blue-color{
  color: #347ab7;
}
.has-green-color{
  color: #2e924d;
}
.has-gray-color{
  color: #464646;
}
.has-lightgray-color{
  color: #ebebeb;
}

.has-sky-blue-color{
  color: #31ABD1;
}
.has-orange-color{
  color: #EB6131;
}
.has-themegreen-color{
  color: #256E30;
}
.has-olnav-color{
  color: #D7D81B;
}
.has-purple-dark-color{
  color: #604893;
}
.has-red-color{
  color: #E5391A;
}
.has-themegray-color{
  color: #474747;
}
.has-gray-slate-color{
  color: #313131;
}
.has-friar-gray-color{
  color: #807D79;
}
.has-white-color{
  color: #807D79;
}
// Background

.has-white-background-color {
  background-color: #807D79;
}
.has-friar-gray-background-color {
  background-color: #807D79;
}
.has-gray-slate-background-color {
  background-color: #313131;
}
.has-themegray-background-color {
  background-color: #474747;
}
.has-red-background-color {
  background-color: #E5391A;
}
.has-purple-dark-background-color {
  background-color: #604893;
}
.has-olnav-background-color {
  background-color: #D7D81B;
}
.has-black-background-color {
  background-color: #000000;
}
.has-yellow-background-color {
  background-color: #ffd000;
}
.has-blue-background-color {
  background-color: #347ab7;
}
.has-green-background-color {
  background-color: #2e924d;
}
.has-gray-background-color {
  background-color: #464646;
}
.has-lightgray-background-color {
  background-color: #ebebeb;
}
.has-sky-blue-background-color {
  background-color: #31ABD1;
}
.has-orange-background-color {
  background-color: #EB6131;
}
.has-themegreen-background-color {
  background-color: #256E30;
}