<div id="about-us-block" class="about-us-block">
  <div class="content-block">
  <img class="about-us-icon" src="{{about_us.icon}}" alt="about us">
	<p class="about-us-label">{{about_us.title}}</p> <span class="about-us__dropdown about-us-arrow-up"></span><span class="about-us__dropdown about-us-arrow-down"></span>
  <p id="about-us-text" class="about-us-text">{{about_us.text}}</p>
  </div>
</div>