// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$near-white: #f2f2f2;
$cloud: #e0e3ea;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Status
$yellow-light: #f9fb93;
$red-light: #fbe3e4;
$green-light: #cfefc2;

// Project
$alabaster: #FBFBFB;
$alto: #dadada;
$alto-light: #d0d0d0;
$alto-lighter: #dfdfdf;
$alto-smoky: #D6D6D6;
$concrete: #f3f3f3;
$friar-gray: #807D79;
$purple: #610c63;
$blue: #005de0;
$sky-blue: #31ABD1;
$gray-slate:#313131;
$green: #256E30;
$red: #E5391A;
$olnav: #D7D81B;
$orange: #EB6131;
$scorpion: #575757;

// Dark colors
$purple-dark: #604893;